* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #1a1a1a;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
}

button:focus {
  outline: none;
}
